body {
    overflow: hidden;
}

.div-container {
    font-family: Roboto, system-ui, 'Segoe UI', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    border: none;
}

.rfid-card-icon {
    width: 30px;
    height: 30px;
    padding: 12px;
}

.input-deposit {
    display: flex;
    font-size: 14px;
    width: 540px;
    align-items: center;
    height: 40px;
    margin-bottom: 15px;
    border: solid #1da54a 2px !important;
    border-radius: 5px;
    cursor: default;
}

.p-deposit {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #1a8765;
    margin-top: 150px;
    margin-bottom: 4px;
    margin-right: 10px;
}

.div-price {
    display: flex;
    gap: 10px;
    width: 540px;
    margin-top: 20;
    justify-content: space-around;
}

.btn-price {
    width: 100px;
    height: 40px;
    padding: 4px 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    color: #ffffff !important;
    border: none;
    -webkit-transition-duration: 0.4s !important;
    transition-duration: 0.25s !important;
}

.btn-deposit {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    width: 540px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
    border: none;
    line-height: 1.5715;
    background: #1DA57A;
    border-color: #1DA57A;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    -webkit-transition-duration: 0.4s !important;
    transition-duration: 0.25s !important;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045)
}

.btn-deposit:hover {
    background-color: #52ad90;
}

@media screen and (max-width: 650px) {
    .input-deposit {
        display: flex;
        margin: 0 auto 24px auto;
        width: 320px;
    }

    .div-price {
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
    }

    .btn-deposit {
        width: 320px;
    }
}

.btn-10000 {
    background-color: #D1BE87 !important;
}

.btn-10000:hover {
    background-color: #d29700 !important;
    border: solid #946a00 2px;
}

.btn-10000.selected {
    background-color: #d29700 !important;
    border: solid #946a00 2px;
    box-shadow: 0 0 10px rgba(148, 106, 0, 0.8);
}

.btn-20000 {
    background-color: #A0C2DB !important;
}

.btn-20000:hover {
    background-color: #007fdb !important;
    border: solid #005a9a 2px;
}

.btn-20000.selected {
    background-color: #007fdb !important;
    border: solid #005a9a 2px;
    box-shadow: 0 0 10px rgba(0, 90, 154, 0.8);
}

.btn-50000 {
    background-color: #eeb1bc !important;
}

.btn-50000:hover {
    background-color: #de005d !important;
    border: solid #990040 2px;
}

.btn-50000.selected {
    background-color: #de005d !important;
    border: solid #990040 2px;
    box-shadow: 0 0 10px rgba(153, 0, 64, 0.8);
}

.btn-100000 {
    background-color: #C1DE9C !important;
}

.btn-100000:hover {
    background-color: #6dc000 !important;
    border: solid #4a8300 2px;
}

.btn-100000.selected {
    background-color: #6dc000 !important;
    border: solid #4a8300 2px;
    box-shadow: 0 0 10px rgba(74, 131, 0, 0.8);
}

.btn-200000 {
    background-color: #ECB099 !important;
}

.btn-200000:hover {
    background-color: #dd3f00 !important;
    border: solid #a12e00 2px;
}

.btn-200000.selected {
    background-color: #dd3f00 !important;
    border: solid #a12e00 2px;
    box-shadow: 0 0 10px rgba(161, 46, 0, 0.8);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Màu mờ với độ trong suốt 50% */
    z-index: 9999;
    /* Đảm bảo overlay hiển thị trên mọi phần tử khác */
    display: none;
    /* Ban đầu ẩn overlay */
}

.overlay-active {
    display: flex !important;
    justify-content: center;
    /* Canh giữa theo chiều ngang */
    align-items: center;
    /* Canh giữa theo chiều dọc */
}

.loading-icon {
    width: 120px;
    /* Độ rộng của biểu tượng loading */
    height: 120px;
    /* Độ cao của biểu tượng loading */
}

.display-none {
    display: none !important;
}


.ms-Overlay {
    display: none;
    justify-content: center;
    align-items: center;
    
  }
  
  .root-299 {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.4);
    inset: 0px;
    position: absolute;
  }
  

  .cancel {
    position: absolute;
    margin: 0;
    right: 7px;
    top: 0px;
    font-size: 23px;
  } 
  .cancel:hover {
    cursor: pointer;
  }
  .centered-div {
    background: white;
    border: 2px #eee;
    border-radius: 8px;
    padding: 20px;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .w3-content{
    position: relative;
  }
  .w3-display-left{
    position: absolute;
    top: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;

  }
  .w3-display-right{
    position: absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  /* Button hướng dẫn */
/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  height: 40px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}